.player-grid {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
  /* padding-top: 4rem; */

  @media screen and (max-width: 768px) {
    grid-template-columns: 100%;
    gap: 0px;
  }
}
